@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .slider {
    margin-bottom: 30px;
    position: relative;
  }
  .slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background-image: url("img/card-story.png");
    padding: 20px;
  }
  .slider-card {
    height: 32rem;
    background: #fff;
    padding: 0px 0px;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.5s;
  }
  .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
  }
  .owl-dots {
    text-align: center;
  }
  .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
  }
  .owl-dots .owl-dot.active {
    background: #cfbeab !important;
  }
  .owl-carousel,
  .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
  }
  .owl-carousel {
    display: none;
    width: 100%;
    z-index: 1;
  }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
  }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }
  .owl-carousel .owl-item,
  .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
  }
  .owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
  }
  .owl-carousel .owl-dots.disabled,
  .owl-carousel .owl-nav.disabled {
    display: none;
  }
  .no-js .owl-carousel,
  .owl-carousel.owl-loaded {
    display: block;
  }
  .owl-carousel .owl-dot,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
  }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block;
  }
  .owl-carousel.owl-hidden {
    opacity: 0;
  }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden;
  }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab;
  }
  .owl-carousel.owl-rtl {
    direction: rtl;
  }
  .owl-carousel.owl-rtl .owl-item {
    float: right;
  }
  .owl-carousel .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  .owl-carousel .owl-animated-in {
    z-index: 0;
  }
  .owl-carousel .owl-animated-out {
    z-index: 1;
  }
  .owl-carousel .fadeOut {
    animation-name: fadeOut;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .owl-height {
    transition: height 0.5s ease-in-out;
  }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  .owl-carousel .owl-item .owl-lazy:not([src]),
  .owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0;
  }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d;
  }
  .owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
  }
  .owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 0.1s ease;
  }
  .owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3);
  }
  .owl-carousel .owl-video-playing .owl-video-play-icon,
  .owl-carousel .owl-video-playing .owl-video-tn {
    display: none;
  }
  .owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.4s ease;
  }
  .owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
  }
  .img-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 50em;
    height: 30em;
    font-size: 6px;
  }
  .img-wrapper.img-wrapper-left::before {
    background-image: url("../img/flowers-left-spouse.png");
    top: 0;
    left: -3em;
  }
  .img-wrapper.img-wrapper-left::after {
    background-image: url("../img/img-wrapper-spouse-left.png");
    top: 0;
    left: 8em;
  }
  .img-wrapper.img-wrapper-right::before {
    background-image: url("../img/flowers-right-spouse.png");
    top: 0;
    left: 6em;
  }
  .img-wrapper.img-wrapper-right::after {
    background-image: url("../img/img-wrapper-spouse-right.png");
    top: 0;
    left: 10em;
  }
  .img-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    width: 46em;
    height: 22em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1;
  }
  .img-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 31.5em;
    height: 31.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 4;
  }
  .img-wrapper-spose {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 24em;
    height: 24em;
    z-index: 3;
  }
  @media (min-width: 768px) {
    .img-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      width: 50em;
      height: 30em;
      font-size: 8px;
    }
  }
  @media (min-width: 1024px) {
    .img-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      width: 50em;
      height: 30em;
      font-size: 9.5px;
    }
  }
  .mycontainer,
  .mycontainer-fluid,
  .mycontainer-lg,
  .mycontainer-md,
  .mycontainer-sm,
  .mycontainer-xl,
  .mycontainer-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .mycontainer,
    .mycontainer-sm {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .mycontainer,
    .mycontainer-md,
    .mycontainer-sm {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .mycontainer,
    .mycontainer-lg,
    .mycontainer-md,
    .mycontainer-sm {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 1320px;
    }
  }
}
